force-app/main/default/flows/CalculateTotalProgramFee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AddToTotalFee</name>
        <label>AddToTotalFee</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>GrandTotalFees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateTotalFees.Total_Program_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalculateTotalFees</targetReference>
        </connector>
    </assignments>
    <description>Weekend</description>
    <environments>Default</environments>
    <interviewLabel>CalculateTotalProgramFee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CalculateTotalProgramFee</label>
    <loops>
        <name>CalculateTotalFees</name>
        <label>CalculateTotalFees</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetClubFees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddToTotalFee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpsertTheTotalSum</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetClubFees</name>
        <label>GetClubFees</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CalculateTotalFees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Club_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Club_Fees__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpsertTheTotalSum</name>
        <label>UpsertTheTotalSum</label>
        <locationX>176</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>GrandTotalFee__c</field>
            <value>
                <elementReference>GrandTotalFees</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetClubFees</targetReference>
        </connector>
        <object>Club_Program__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GrandTotalFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
