force-app/main/default/flows/ClubProgramStatusChanged.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Club_Fees_to_Collection</name>
        <label>Add Club Fees to Collection</label>
        <locationX>1071</locationX>
        <locationY>1429</locationY>
        <assignmentItems>
            <assignToReference>ClubFeesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Club_Fees_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Club_Fees_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage</name>
        <label>Update Stage</label>
        <locationX>1259</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>LoopoverEnrollments.Program_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatedCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1268</locationX>
        <locationY>1269</locationY>
        <assignmentItems>
            <assignToReference>Club_Fees_Loop.Program_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Club_Fees_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatedCollection</name>
        <label>UpdatedCollection</label>
        <locationX>1127</locationX>
        <locationY>1059</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCollectionEnrollments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopoverEnrollments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopoverEnrollments</targetReference>
        </connector>
    </assignments>
    <description>Kcc</description>
    <environments>Default</environments>
    <formulas>
        <name>ProgName</name>
        <dataType>String</dataType>
        <expression>TRIM({!$Record.Name})</expression>
    </formulas>
    <interviewLabel>ClubProgramStatusChanged {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClubProgramStatusChanged</label>
    <loops>
        <name>Club_Fees_Loop</name>
        <label>Club Fees Loop</label>
        <locationX>953</locationX>
        <locationY>1212</locationY>
        <collectionReference>Get_All_Club_Fees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Club_Fees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopoverEnrollments</name>
        <label>LoopoverEnrollments</label>
        <locationX>939</locationX>
        <locationY>839</locationY>
        <collectionReference>AllRelatedEnrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Club_Fees_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AllRelatedEnrollments</name>
        <label>AllRelatedEnrollments</label>
        <locationX>945</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Club_Fees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Club_Fees</name>
        <label>Get All Club Fees</label>
        <locationX>766</locationX>
        <locationY>667</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopoverEnrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Club_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Club_Fees__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Club_Fees</name>
        <label>Update Club Fees</label>
        <locationX>642</locationX>
        <locationY>1132</locationY>
        <connector>
            <targetReference>UpdateAllRecords</targetReference>
        </connector>
        <inputReference>ClubFeesCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAllRecords</name>
        <label>UpdateAllRecords</label>
        <locationX>732</locationX>
        <locationY>1343</locationY>
        <inputReference>UpdatedCollectionEnrollments</inputReference>
    </recordUpdates>
    <start>
        <locationX>820</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>AllRelatedEnrollments</targetReference>
        </connector>
        <object>Club_Program__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ClubFeesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Club_Fees__c</objectType>
    </variables>
    <variables>
        <name>UpdatedCollectionEnrollments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
</Flow>
