force-app/main/default/flows/Club_Fee_Report_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailReport</name>
        <label>EmailReport</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>OneConfirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Email Report is sent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>GetClubFeeInfo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Email Report</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailReportTwo</name>
        <label>EmailReportTwo</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Email Report is sent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>GetClubFeeInfo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Email Report</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendOneChildEmail</name>
        <label>SendOneChildEmail</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailReport</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OneChild</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetClubFeeInfo.Parent__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Ишемби Күнкү Кружок</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TwoChildEmailReportAction</name>
        <label>TwoChildEmailReportAction</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TwoConfirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TwoChilds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetClubFeeInfo.Parent__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Ишемби Күнкү Кружок</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>NumberofChilds</name>
        <label>NumberofChilds</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>EmptyEmailConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OneChildEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetClubFeeInfo.Total_Enrolled_Students__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetClubFeeInfo.Parent__r.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_be_sendOne</targetReference>
            </connector>
            <label>OneChildEmail</label>
        </rules>
        <rules>
            <name>TwoChildEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetClubFeeInfo.Total_Enrolled_Students__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetClubFeeInfo.Parent__r.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_be_sendTwo</targetReference>
            </connector>
            <label>TwoChildEmail</label>
        </rules>
    </decisions>
    <description>Weekend</description>
    <environments>Default</environments>
    <interviewLabel>Club Fee Report Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Club Fee Report Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetClubFeeInfo</name>
        <label>GetClubFeeInfo</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NumberofChilds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Club_Fees__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Email_to_be_sendOne</name>
        <label>Email to be send</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SendOneChildEmail</targetReference>
        </connector>
        <fields>
            <name>ChildEmailReport</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Email to be sent to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GetClubFeeInfo.Parent__r.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Check the Email template below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OneChildEmailSend</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!OneChild}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_to_be_sendTwo</name>
        <label>Email to be send</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TwoChildEmailReportAction</targetReference>
        </connector>
        <fields>
            <name>TwoChildEmailReport</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Email to be sent to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GetClubFeeInfo.Parent__r.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Check the Email template below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TwoChildEmailSend</name>
            <fieldText>&lt;p&gt;{!TwoChilds}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmptyEmailConfirmation</name>
        <label>EmptyEmailConfirmation</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailisEmpty</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The email was not sent to {!GetClubFeeInfo.Parent__r.Name}. The email is Empty.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OneConfirmation</name>
        <label>OneConfirmation</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_EmailConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Email is sent to {!GetClubFeeInfo.Parent__r.Name} with  email address: {!GetClubFeeInfo.Parent__r.Email__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PledgeInformation</name>
        <label>PledgeInformation</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetClubFeeInfo</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Proceed to send a Club Fee report to the Parent&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TwoConfirmation</name>
        <label>TwoConfirmation</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EmailReportTwo</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_EmailConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Email is sent to {!GetClubFeeInfo.Parent__r.Name} with  email address: {!GetClubFeeInfo.Parent__r.Email__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PledgeInformation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OneChild</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Урматтуу {!GetClubFeeInfo.Parent__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Кыргыз Коомдук Борборуна &lt;/span&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Ишемби күнкү кружокторго келип жаткан балаңыздын ({!GetClubFeeInfo.First_Kid__r.Name}) кыргыз тилин жана кыргыз маданиятын унутпай жүрүшүнө аракет кылып катыштырып жатканыңызга ыраазычылык билдиребиз. Сиздин семестр учун азыркы балансыныз ${!GetClubFeeInfo.Remaining_Balance__c}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Төлөмдү Кыргыз Коомдук Борбордун Зеллесине (kyrgyzcommunity@gmail.com) которсонуз же бул шилтеме менен (&lt;/span&gt;&lt;a href=&quot;http://kyrgyzcommunity.org/clubfeepayment&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;http://kyrgyzcommunity.org/clubfeepayment&lt;/a&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;) Paypal аркылуу кредит картыныз менен төлөсөңүз болот. Шартыныз болсо семестр (5 ай) үчүн баарын бир төлөгөнүңүз бизге ыңгайлуу. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Же шартынызга байланыштуу бөлүп ай сайын берсеңиз да болот. Төлөмгө байланыштуу суроолоруңуз болсо Куштарбек (3127742463) жана Сабактар боюнча суроолоруңуз болсо Чолпон эжеге ( 3128749142) байланышсаңыз болот. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Терең урматтоо менен,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Кыргыз Коомдук Борбору&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;1114 N Arlington Heights Rd,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Arlington Heights, IL 60004&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;3127305006&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;kyrgyzcommunity@gmail.com&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TwoChilds</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Урматтуу {!GetClubFeeInfo.Parent__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Кыргыз Коомдук Борборуна Ишемби күнкү кружокторго келип жаткан балдарыңыздын ({!GetClubFeeInfo.First_Kid__r.Name} жана {!GetClubFeeInfo.Second_Kid__r.Name}) кыргыз тилин жана кыргыз маданиятын унутпай жүрүшүнө аракет кылып катыштырып жатканыңызга ыраазычылык билдиребиз. Сиздин семестр учун азыркы балансыныз ${!GetClubFeeInfo.Remaining_Balance__c}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Төлөмдү Кыргыз Коомдук Борбордун Зеллесине (kyrgyzcommunity@gmail.com) которсонуз же бул шилтеме менен (&lt;/span&gt;&lt;a href=&quot;http://kyrgyzcommunity.org/clubfeepayment&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;http://kyrgyzcommunity.org/clubfeepayment&lt;/a&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;) Paypal аркылуу кредит картыныз менен төлөсөңүз болот. Шартыныз болсо семестр (5 ай) үчүн баарын бир төлөгөнүңүз бизге ыңгайлуу. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Же шартынызга байланыштуу бөлүп ай сайын берсеңиз да болот. Төлөмгө байланыштуу суроолоруңуз болсо Куштарбек (3127742463) жана Сабактар боюнча суроолоруңуз болсо Чолпон эжеге ( 3128749142) байланышсаңыз болот. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Терең урматтоо менен,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Кыргыз Коомдук Борбору&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;1114 N Arlington Heights Rd,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Arlington Heights, IL 60004&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;3127305006&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;kyrgyzcommunity@gmail.com&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
