force-app/main/default/flows/Create_New_Donation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <description>newkcc : Create new donation flow. This fill be added to List view, home page, member record page</description>
    <dynamicChoiceSets>
        <name>CollectionPledges</name>
        <collectionReference>GetActivePledges</collectionReference>
        <dataType>String</dataType>
        <displayField>Member_Name__c</displayField>
        <object>Pledge__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Company</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company__c</picklistField>
        <picklistObject>Donation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Depositstatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deposit_Status__c</picklistField>
        <picklistObject>Donation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OriginalPaymentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Original_Payment__c</picklistField>
        <picklistObject>Donation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Donation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SendanEmail</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Email_Receipt__c</picklistField>
        <picklistObject>Donation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create New Donation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Donation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Donation</name>
        <label>Create new Donation</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Receipt__c</field>
            <value>
                <elementReference>Send_an_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>Member_Name.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>PaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Depositstatus</elementReference>
            </value>
        </inputAssignments>
        <object>Donation_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetActivePledges</name>
        <label>GetActivePledges</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pledge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Donation</name>
        <label>New Donation</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_Donation</targetReference>
        </connector>
        <fields>
            <name>Member_Name</name>
            <choiceReferences>CollectionPledges</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Member Name</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>New_Donation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Donation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Payment_Method</name>
                    <choiceReferences>PaymentMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Zelle</stringValue>
                    </defaultValue>
                    <fieldText>Payment Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Donation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Send_an_Email</name>
                    <choiceReferences>SendanEmail</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Yes</stringValue>
                    </defaultValue>
                    <fieldText>Send an Email</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Deposit_Status</name>
                    <choiceReferences>Depositstatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Deposited</stringValue>
                    </defaultValue>
                    <fieldText>Deposit Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Payment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Donation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Donation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Platform</name>
                    <choiceReferences>Company</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Platform</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Donation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Original_Payment_Type</name>
                    <choiceReferences>OriginalPaymentType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Original Payment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Donation_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Donation_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Soft_Credit_Person</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Member__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lookup the Member</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Donation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetActivePledges</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>Member</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
