force-app/main/default/flows/Create_Pledge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <description>KCC</description>
    <dynamicChoiceSets>
        <name>PaymentMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Pledge__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentOccurrence</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Occurance__c</picklistField>
        <picklistObject>Pledge__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Pledge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Pledge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreatePledge</name>
        <label>CreatePledge</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Pledge_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Name__c</field>
            <value>
                <elementReference>MemberName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>Member.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PledgeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>PaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Occurance__c</field>
            <value>
                <elementReference>PaymentOccurrence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yearly_Campaign__c</field>
            <value>
                <elementReference>Active_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Pledge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Active_Campaign</name>
        <label>Active Campaign</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_A_Pledge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Yearly_Campaign__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_A_Pledge</name>
        <label>Create A Pledge</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>CreatePledge</targetReference>
        </connector>
        <fields>
            <name>Create_A_Pledge_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_A_Pledge_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Member</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Member__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Member</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Pledge__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Payment_Method</name>
                    <choiceReferences>PaymentMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Zelle</stringValue>
                    </defaultValue>
                    <fieldText>Payment Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CampaignName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The pledge for the &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Active_Campaign.Name} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Yearly Campaign. &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_A_Pledge_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pledge_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Pledge Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Payment_Occurrence</name>
                    <choiceReferences>PaymentOccurrence</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Several Times</stringValue>
                    </defaultValue>
                    <fieldText>Payment Occurrence</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Note</name>
                    <dataType>String</dataType>
                    <fieldText>Note</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Pledge</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Active_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MemberName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Member.recordName}</text>
    </textTemplates>
    <textTemplates>
        <name>PledgeName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Member.recordName} : {!Active_Campaign.Name}</text>
    </textTemplates>
</Flow>
