force-app/main/default/flows/Donation_Progress_Report_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_be_sent</name>
        <label>Email to be sent</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailReport</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetCurrentPledgeInfo.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Кыргыз Коомдук Борбору</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailReport</name>
        <label>EmailReport</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Email Report is send</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>GetCurrentPledgeInfo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>EmailReport</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>Email</description>
    <environments>Default</environments>
    <interviewLabel>Donation Progress Report Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donation Progress Report Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentPledgeInfo</name>
        <label>GetCurrentPledgeInfo</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_to_be_send</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pledge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Email is sent to {!GetCurrentPledgeInfo.Member__r.Name} with  email address: {!GetCurrentPledgeInfo.Email__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_to_be_send</name>
        <label>Email to be send</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_to_be_sent</targetReference>
        </connector>
        <fields>
            <name>name</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Email to be sent to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GetCurrentPledgeInfo.Member__r.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Check the Email template below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!EmailtobeSend}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PledgeInformation</name>
        <label>PledgeInformation</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCurrentPledgeInfo</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Proceed to send a pledge report to the Member&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PledgeInformation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailtobeSend</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Урматтуу {!GetCurrentPledgeInfo.Member__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Кыргыз Коомдук Борборуна салым үчүн сөз берген сумманыздын бүгүнкүгө чейин &lt;/span&gt;&lt;strong style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;{!GetCurrentPledgeInfo.Pledge_Completion__c}%&lt;/strong&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;ы которулду. Cөз берилген сумманы &lt;/span&gt;&lt;strong style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;100%&lt;/strong&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;га жеткизүү үчүн &lt;/span&gt;&lt;strong style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;${!GetCurrentPledgeInfo.Remaining_Balance__c} &lt;/strong&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;төлөм&lt;/span&gt;&lt;strong style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;калды. &lt;/span&gt;&lt;strong style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Апрель&lt;/strong&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt; айынын 15не чейин толук бүтүргөнү аракет кылсаныз болот. Суроолор боюнча 3127742463 (Куштар) кайрылсаныз болот. Ар бир кылган салымыңыз эселеп кайтсын.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Терең урматтоо менен,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Кыргыз Коомдук Борбору&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;1114 N Arlington Heights Rd,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Arlington Heights, IL 60004&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;3127305006&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;kyrgyzcommunity@gmail.com&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
