force-app/main/default/flows/Eid_Congratulation_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AddMember</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Eid Mubarak</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EidMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddMember</name>
        <label>AddMember</label>
        <locationX>440</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>TotalMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>SendMessage</name>
        <choiceText>Send</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SkipMember</name>
        <choiceText>Skip</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>SendOrNot</name>
        <label>SendOrNot</label>
        <locationX>352</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SendEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendOrSkip</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Skip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <description>KCC: This Flow Sends Message to all member</description>
    <environments>Default</environments>
    <interviewLabel>Eid Congrate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Eid Congratulation Message</label>
    <loops>
        <name>Iterate</name>
        <label>Iterate</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>AllMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Draft</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AllMembers</name>
        <label>AllMembers</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;{!TotalMembers} Number of Members Received Message&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Draft</name>
        <label>Draft</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SendOrNot</targetReference>
        </connector>
        <fields>
            <name>Draft_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Draft_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm</name>
                    <fieldText>&lt;p&gt;Confirm the Message&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Draft_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SendOrSkip</name>
                    <choiceReferences>SendMessage</choiceReferences>
                    <choiceReferences>SkipMember</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>SendMessage</defaultSelectedChoiceReference>
                    <fieldText>SendOrSkip</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;{!EidMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_the_Flow</name>
        <label>Start the Flow</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AllMembers</targetReference>
        </connector>
        <fields>
            <name>Start</name>
            <fieldText>&lt;p&gt;Click Proceed to start sending Eid Congrats Messages&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_the_Flow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EidMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Урматтуу {!Iterate.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Курман Айт майрамыңыз куттуу жана берекелүү болсун! Жараткан Алла Таалам үй-бүлөңүзгө ынтымак, тынчтык жана мол берекесин берсин. Чалган курмандыктарыңыз кабыл болсун.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Терең урматтоо менен,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Кыргыз Коомдук Борбору&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;kyrgyzcommunity@gmail.com&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>TotalMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
