force-app/main/default/flows/Event_Attendance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <description>KCC</description>
    <dynamicChoiceSets>
        <name>AttendanceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Event_Attendance__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Method__c</picklistField>
        <picklistObject>Event_Attendance__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Event Attendance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Attendance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attendance</name>
        <label>Create Attendance</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Record_Response_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Method__c</field>
            <value>
                <elementReference>Contact_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EventName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>AttendanceType</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Record_Response_Field</name>
        <label>Record Response Field</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Event_Response__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Member__c</object>
    </recordUpdates>
    <screens>
        <name>Event_Attendance</name>
        <label>Event Attendance</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Attendance</targetReference>
        </connector>
        <fields>
            <name>Event_Attendance_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Attendance_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Response</name>
                    <choiceReferences>AttendanceType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Response</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Attendance_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Method</name>
                    <choiceReferences>ContactMethod</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Contact Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Note</name>
            <dataType>String</dataType>
            <fieldText>Note</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_Attendance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EventName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fundraising 04/17/23</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Member__c</objectType>
    </variables>
</Flow>
