force-app/main/default/flows/Filter_Pledges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Above</name>
        <choiceText>Above</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Condition</elementReference>
        </value>
    </choices>
    <choices>
        <name>Below</name>
        <choiceText>Below</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Condition</elementReference>
        </value>
    </choices>
    <decisions>
        <name>FilterDecision</name>
        <label>FilterDecision</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AboveCondition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Above</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAboveRecords</targetReference>
            </connector>
            <label>AboveCondition</label>
        </rules>
    </decisions>
    <description>KCC</description>
    <environments>Default</environments>
    <interviewLabel>Filter Pledges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Filter Pledges</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>GetAboveRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Pledge_Info</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAboveRecords</name>
        <label>GetAboveRecords</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pledge__c</object>
        <sortField>Amount__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>initialScreen</name>
        <label>initialScreen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FilterDecision</targetReference>
        </connector>
        <fields>
            <name>initialScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>initialScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>initialScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Condition</name>
                    <choiceReferences>Above</choiceReferences>
                    <choiceReferences>Below</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Above</defaultSelectedChoiceReference>
                    <fieldText>Condition</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pledge_Info</name>
        <label>Pledge Info</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <fields>
            <name>Pledge_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pledge_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>name</name>
                    <fieldText>&lt;p&gt;{!Loop.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pledge_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PledgeAmount</name>
                    <fieldText>&lt;p&gt;{!Loop.Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>initialScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
