force-app/main/default/flows/New_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <description>Kcc</description>
    <dynamicChoiceSets>
        <name>PaymentMethods</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StaffNameForPay</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Agreement__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>PaymentMethods</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Staff_Name__c</field>
            <value>
                <elementReference>StaffName.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Staff_Salary</name>
        <label>Staff Salary</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Payment_Record</targetReference>
        </connector>
        <fields>
            <name>Staff_Salary_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Staff_Salary_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StaffName</name>
                    <choiceReferences>StaffNameForPay</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>StaffName</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Staff_Salary_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Staff_Salary_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Staff_Salary_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Method</name>
                    <choiceReferences>PaymentMethods</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Zelle</stringValue>
                    </defaultValue>
                    <fieldText>Payment Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Note</name>
                    <dataType>String</dataType>
                    <fieldText>Note</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Staff_Salary</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
