force-app/main/default/flows/Parent_Program_Fee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Fourth_Kid_Discounts</name>
        <label>Fourth Kid Discounts</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>GrandTotalFee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Program__r.Four_Kid_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewEnrollment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Initial_Total_Balance</name>
        <label>Get Initial Total Balance</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>GrandTotalFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedParents.Total_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentsNumberofkids</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedParents.Number_of_Kids__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PicklistVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enrollment_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applying_Discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Second_Kid_Discount</name>
        <label>Second Kid Discount</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>GrandTotalFee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Program__r.Two_Kids_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewEnrollment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Third_Kid_Discount</name>
        <label>Third Kid Discount</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>GrandTotalFee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Program__r.Three_Kids_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewEnrollment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_GrandTotalFee</name>
        <label>Update GrandTotalFee</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>GrandTotalFee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Program__r.One_Kid_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewEnrollment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Applying_Discounts</name>
        <label>Applying Discounts</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_One_Kid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ParentsNumberofkids</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GrandTotalFee</targetReference>
            </connector>
            <label>Only One Kid</label>
        </rules>
        <rules>
            <name>Two_Kids</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ParentsNumberofkids</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_Kid_Discount</targetReference>
            </connector>
            <label>Two Kids</label>
        </rules>
        <rules>
            <name>Three_Kids</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ParentsNumberofkids</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Third_Kid_Discount</targetReference>
            </connector>
            <label>Three Kids</label>
        </rules>
        <rules>
            <name>Four_Kids</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ParentsNumberofkids</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fourth_Kid_Discounts</targetReference>
            </connector>
            <label>Four Kids</label>
        </rules>
    </decisions>
    <description>Kcc</description>
    <environments>Default</environments>
    <interviewLabel>Parent Program Fee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parent Program Fee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RelatedParents</name>
        <label>RelatedParents</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Initial_Total_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student__r.Parent_Name__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parent__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>NewEnrollment</name>
        <label>NewEnrollment</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedParents.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Balance__c</field>
            <value>
                <elementReference>GrandTotalFee</elementReference>
            </value>
        </inputAssignments>
        <object>Parent__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RelatedParents</targetReference>
        </connector>
        <object>Enrollment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>GrandTotalFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ParentsNumberofkids</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PicklistVal</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedStudentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student__c</objectType>
    </variables>
</Flow>
