force-app/main/default/flows/Payment_Information_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailReport</name>
        <label>EmailReport</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>OneConfirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Payment Information is Sent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>GetClubFeeInfo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Email Payment Info New</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendOneChildEmail</name>
        <label>SendOneChildEmail</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailReport</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OneChild</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetClubFeeInfo.Parent__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Ишемби Күнкү Кружок</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>NumberofChilds</name>
        <label>NumberofChilds</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>EmptyEmailConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OneChildEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetClubFeeInfo.Total_Enrolled_Students__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetClubFeeInfo.Parent__r.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_be_sendOne</targetReference>
            </connector>
            <label>OneChildEmail</label>
        </rules>
    </decisions>
    <description>Weekend</description>
    <environments>Default</environments>
    <interviewLabel>Payment Information Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Information Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetClubFeeInfo</name>
        <label>GetClubFeeInfo</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NumberofChilds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Club_Fees__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Email_to_be_sendOne</name>
        <label>Email to be send</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SendOneChildEmail</targetReference>
        </connector>
        <fields>
            <name>ChildEmailReport</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Email to be sent to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GetClubFeeInfo.Parent__r.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Check the Email template below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OneChildEmailSend</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!OneChild}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmptyEmailConfirmation</name>
        <label>EmptyEmailConfirmation</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailisEmpty</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The email was not sent to {!GetClubFeeInfo.Parent__r.Name}. The email is Empty.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OneConfirmation</name>
        <label>OneConfirmation</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_EmailConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Email is sent to {!GetClubFeeInfo.Parent__r.Name} with  email address: {!GetClubFeeInfo.Parent__r.Email__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PledgeInformation</name>
        <label>PledgeInformation</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetClubFeeInfo</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Proceed to send a Payment Reminder to the Parent&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PledgeInformation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OneChild</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Урматтуу {!GetClubFeeInfo.Parent__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Мындан мурунку жөнөтүлгөн маалыматка толуктоо катарында кошумча маалымат берүүнү туура көрдүк. Январь айынан Май айынын аягына чейин 5 ай бар. Бир балага айына $100 дан болгондо $500 болот экен. Эки баланыз катышса, анда экинчи балага %20 скидка менен $80 болот. Эки балаңызга ошондо айына $180 болуп калат. Үчүнчү балаңызга %30 скидка менен $70 болот. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Эскерте кетчүү нерсе! Эгер балаңыз бир айдын ичинде кээ бир күндөрү келбей калса айлык баадан түшүрүлбөйт. Бирок балаңыз Март айынан келип баштаган болсо, анда ошол айдан баштап төлөй бересиз. Төлөмдү Кыргыз Коомдук Борбордун Зеллесине (kyrgyzcommunity@gmail.com) которсонуз же бул шилтеме менен (&lt;/span&gt;&lt;a href=&quot;http://kyrgyzcommunity.org/clubfeepayment&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;http://kyrgyzcommunity.org/clubfeepayment&lt;/a&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;) Paypal аркылуу кредит картыныз менен төлөсөңүз болот. Шартыныз болсо семестр (5 ай) үчүн баарын бир төлөгөнүңүз бизге ыңгайлуу. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Сиздин семестр үчүн балансыныз төмөнкүчө. Сиздин Апта соңку кружокко {!GetClubFeeInfo.Total_Enrolled_Students__c} балаңыз катышат жана &lt;/span&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Январь айынан баштап &lt;/span&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;эсептегенде семестр үчүн &lt;/span&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;${!GetClubFeeInfo.Remaining_Balance__c} балансыныз бар. Жаны жылдан баштап сиздин жөнөткөн төлөмүңүз ${!GetClubFeeInfo.Total_Payments__c}ды түздү.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Эгер бул жердеги маалымат туура эмес же оңдой турган жери болсо бизге кабар бериңиз. Күнүнүз берекелүү өтсүн жана коюлган шарттарга түшүнүк менен мамиле кылганынызга чон рахмат айтабыз.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Терең урматтоо менен,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Кыргыз Коомдук Борбору&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;1114 N Arlington Heights Rd,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Arlington Heights, IL 60004&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;3127305006&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.000001px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;kyrgyzcommunity@gmail.com&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
