force-app/main/default/flows/Pledges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>TotalAboveRecords</name>
        <label>TotalAboveRecords</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SumOfAbove</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAboveRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Result</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BelowCondition</name>
        <choiceText>Below</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Below</stringValue>
        </value>
    </choices>
    <choices>
        <name>FilterCondition</name>
        <choiceText>Above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Above</stringValue>
        </value>
    </choices>
    <decisions>
        <name>GetRecordsDecision</name>
        <label>GetRecordsDecision</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>GetBelowRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Above</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterCondition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Above</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAboveRecords</targetReference>
            </connector>
            <label>Above</label>
        </rules>
    </decisions>
    <description>KCC</description>
    <environments>Default</environments>
    <interviewLabel>Pledges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pledges</label>
    <loops>
        <name>LoopAbove</name>
        <label>LoopAbove</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>GetAboveRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DisplayPledge</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Last_Display</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAboveRecords</name>
        <label>GetAboveRecords</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TotalAboveRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pledge__c</object>
        <sortField>Amount__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBelowRecords</name>
        <label>GetBelowRecords</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Last_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pledge__c</object>
        <sortField>Amount__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DisplayPledge</name>
        <label>DisplayPledge</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopAbove</targetReference>
        </connector>
        <fields>
            <name>DisplayPledge_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DisplayPledge_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;﻿Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!LoopAbove.Member__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PledgeAmount</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Amount:&lt;/strong&gt; ${!LoopAbove.Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Email</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;&lt;em&gt;{!LoopAbove.Email__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DisplayPledge_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Phone: &lt;/strong&gt;{!LoopAbove.Phone__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Balance</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Balance: $&lt;/strong&gt;{!LoopAbove.Remaining_Balance__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LastNote</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Last Note:&lt;/strong&gt; &lt;em&gt;{!LoopAbove.Last_Note__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Filter_Pledges</name>
        <label>Filter Pledges</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetRecordsDecision</targetReference>
        </connector>
        <fields>
            <name>guide</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Provide your filter condition to go through the Matched Pledges!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Filter_Pledges_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Filter_Pledges_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Filter_Pledges_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Condition</name>
                    <choiceReferences>FilterCondition</choiceReferences>
                    <choiceReferences>BelowCondition</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Condition</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Last_Display</name>
        <label>Last Display</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End</name>
            <fieldText>&lt;p&gt;The list has ended. To Start with new condition, Click Finish&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Result</name>
        <label>Search Result</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Update Condition</backButtonLabel>
        <connector>
            <targetReference>LoopAbove</targetReference>
        </connector>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;Total Number of Matched Records: {!SumOfAbove}.&lt;/p&gt;&lt;p&gt;To go through the pledges, Press Start&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_Pledges</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SumOfAbove</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
