force-app/main/default/flows/Send_Fundraising_Invitation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailTemplate</name>
        <label>EmailTemplate</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendEmails</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToBeSent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SendEmails.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Кадыр Түн</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>KCC</description>
    <environments>Default</environments>
    <interviewLabel>Send Fundraising Invitation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Fundraising Invitation</label>
    <loops>
        <name>SendEmails</name>
        <label>SendEmails</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>GetMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EmailTemplate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetMembers</name>
        <label>GetMembers</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Response__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display</name>
        <label>Display</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End</name>
            <fieldText>&lt;p&gt;Sent&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StartWindow</name>
        <label>StartWindow</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetMembers</targetReference>
        </connector>
        <fields>
            <name>Start</name>
            <fieldText>&lt;p&gt;Press Next To Send Email&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StartWindow</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailToBeSent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Урматтуу {!SendEmails.Name}&lt;/p&gt;&lt;p&gt;Кыргыздын чыгаан жигиттери, Алланын сүйгөн пенделери.&lt;/p&gt;&lt;p&gt;Миң айга тете, Аллахтын берекети жааган, дубаларды кабыл кылган- -КАДЫР ТҮНҮ - 17- Апрель күнү Сизди ооз ачаарга&amp;nbsp;күтөбүз.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Ар жыл сайын Кадыр түнү келип кошкон салымыңыз менен КСС Чикагодогу жалпы мекендештерге жана жаш муундарыбызга кызмат кылып келет. Тамчыдан көл куралат демекчи сиздин салымыңыз менен дагы көп жакшы иштерди аткарууга мүмкүнчүлүк туулат.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
