force-app/main/default/flows/Student_Check_In.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <description>KCC</description>
    <dynamicChoiceSets>
        <name>DropoffPerson</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drop_Off_Person__c</picklistField>
        <picklistObject>Attendance__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Student Check-In {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student Check-In</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Attendance</name>
        <label>Attendance</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Confirmation_Page</targetReference>
        </connector>
        <inputAssignments>
            <field>Check_In_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drop_Off_Person__c</field>
            <value>
                <elementReference>Drop_Off_Person</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Student.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Name__c</field>
            <value>
                <elementReference>Student.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Check_In</name>
        <label>Check In</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attendance</targetReference>
        </connector>
        <fields>
            <name>Student</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Student_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Student Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Attendance__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Drop_Off_Person</name>
            <choiceReferences>DropoffPerson</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Mother</stringValue>
            </defaultValue>
            <fieldText>Drop Off Person</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Check In</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Page</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_you</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(4, 110, 239); font-size: 26px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(11, 11, 10); font-size: 26px;&quot;&gt;&lt;em&gt;{!Student.recordName}&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt; checked in at &lt;/span&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(18, 2, 241);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>New Check-In</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_In</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
