force-app/main/default/flows/UpdatePledgeTotalPaymentField.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignToTotalPaymentsField</name>
        <label>AssignToTotalPaymentsField</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedPledge.Total_Paymentss__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalPayments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePledgeTotalPaymentsField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalDonations</name>
        <label>TotalDonations</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>TotalPayments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateTotalPayment.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalculateTotalPayment</targetReference>
        </connector>
    </assignments>
    <description>newkcc</description>
    <environments>Default</environments>
    <interviewLabel>UpdatePledgeTotalPaymentField {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdatePledgeTotalPaymentField</label>
    <loops>
        <name>CalculateTotalPayment</name>
        <label>CalculateTotalPayment</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>GetAllRelatedDonations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TotalDonations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignToTotalPaymentsField</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllRelatedDonations</name>
        <label>GetAllRelatedDonations</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CalculateTotalPayment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Donation_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedPledge</name>
        <label>GetRelatedPledge</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllRelatedDonations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pledge__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePledgeTotalPaymentsField</name>
        <label>UpdatePledgeTotalPaymentsField</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>GetRelatedPledge</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRelatedPledge</targetReference>
        </connector>
        <object>Donation_Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalPayments</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
