force-app/main/default/flows/Update_Pledge_Status_From_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>PledgesToBeUpdated</name>
        <label>PledgesToBeUpdated</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>AllPledges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverPledges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverPledges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatePledgeStatus</name>
        <label>UpdatePledgeStatus</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>IterateOverPledges.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PledgesToBeUpdated</targetReference>
        </connector>
    </assignments>
    <description>KCC</description>
    <environments>Default</environments>
    <interviewLabel>Update Pledge Status From Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Pledge Status From Campaign</label>
    <loops>
        <name>IterateOverPledges</name>
        <label>IterateOverPledges</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>All_Child_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdatePledgeStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAllPledges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Child_Records</name>
        <label>All Child Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverPledges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Yearly_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pledge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllPledges</name>
        <label>UpdateAllPledges</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>AllPledges</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Child_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Yearly_Campaign__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllPledges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Pledge__c</objectType>
    </variables>
</Flow>
